<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><app-msg key="language.title"></app-msg></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-radio-group [(ngModel)]="language" >
      <ion-list-header>
        <ion-label><app-msg key="language.heading"></app-msg></ion-label>
      </ion-list-header>
      <ion-item (click)="changeLanguage('en')">
        <ion-label>English</ion-label>
        <ion-radio slot="start" value="en"></ion-radio>
      </ion-item>
  
      <ion-item (click)="changeLanguage('hi')">
        <ion-label>हिन्दी</ion-label>
        <ion-radio slot="start" value="hi"></ion-radio>
      </ion-item>
  
      <ion-item (click)="changeLanguage('gu')">
        <ion-label>ગુજરતી</ion-label>
        <ion-radio slot="start" value="gu"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
