<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mission & Vision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-justify">
    Gayatri Pariwar is a living model of a futuristic society, being guided by principles of human unity and equality.
    <div>
      <br>
      <div>
        It's a modern adoption of the age old wisdom of Vedic Rishis, who practiced and propagated the philosophy of <i>Vasudhaiva Kutumbakam</i>.
      </div>
      <div><br></div>
      <div>
        Founded by saint, reformer, writer, philosopher, spiritual guide and visionary Yug Rishi Pandit Shriram Sharma Acharya this mission has emerged as a mass movement for Transformation of Era.
      </div>
      <div>
        <br>
      </div>
      <div>
        <ion-label color="primary"><b>Aims &amp; Objectives:</b></ion-label>
        <br>
        <ul>
          <li>Rise of divinity in human, descent of heaven on earth</li>
          <li class="ion-padding-top">Individual Development, Family Development and Social Upliftment</li>
          <li class="ion-padding-top">Healthy body, pure mind and civilized society</li>
          <li class="ion-padding-top">Atmavat sarvabhooteshu (<i><b>all living beings are soulkins)</b></i>, Vashudhaiv kutumbkam (<i><b>Entire earth is the our family)</b></i></li>
          <li class="ion-padding-top">One Nation, One Language <i><b>(love)</b></i>, One Religion <i><b>(humanity),</b></i> One Government <i><b>(Self Govern</b></i>)</li>
          <li class="ion-padding-top">Everyone should get equal opportunity for self-growth irrespective of caste, color or creed</li> 
        </ul>
      </div>
    </div>
  </div>

</ion-content>

<app-footer></app-footer>
