<ion-app>
  <ion-menu contentId="main-content" type="overlay" class="sidebar-menu">
    <ion-content>
      <ion-header>
        <ion-toolbar >
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-row class="img-name-row" *ngIf="ls.getUser()">
        <ion-col >
          <div class="ion-class-center">
            <img class="user-img" [src]="imageUrl + (ls.getUser().gender == 'F' ? 'female.jpg' : 'male.jpg')" *ngIf="!ls.getUser().profilePicture"/>
            <img class="user-img" [src]="util.getFullUrl('file/') + ls.getUser().profilePicture" *ngIf="ls.getUser().profilePicture"/>
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col *ngIf="ls.getUser()">
          <p class="user-name">{{ls.getFullName()}}</p>
        </ion-col>
      </ion-row>

      <ion-item-group *ngIf="ls.getUser()">
        <ion-item-divider>
          <ion-label color="primary"><b>User Menu</b></ion-label>
        </ion-item-divider>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item [routerLink]="[p.url]" lines="none" detail="false">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
          <ion-item lines="none" detail="false" (click)="logout()" button>
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label color="primary"><b>About Sur Shree</b></ion-label>
        </ion-item-divider>
      
        <ion-menu-toggle autoHide="false" >
          <ion-item [routerLink]="p.url" detail="false" lines="none" *ngFor="let p of aboutAppPages; let i = index">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              <app-msg [value]="p.title"></app-msg>
            </ion-label>
          </ion-item>
          <ion-item detail="false" lines="none" (click)="share()">
            <ion-icon slot="start" name="share-social-sharp"></ion-icon>
            <ion-label>
              <app-msg [value]="'Refer to Friend'"></app-msg>
            </ion-label>
          </ion-item>
          
        </ion-menu-toggle >
        <!--<ion-menu-toggle>
        <ion-item button autoHide="false" detail="false" lines="none">
          <ion-icon name="share-social" slot="start" (click)="share()"></ion-icon>
          <ion-label>
            <app-msg key="app.component.share.with.friends"></app-msg>
          </ion-label>
        </ion-item>
        </ion-menu-toggle>-->
      </ion-item-group>

      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
